body{
    background-color: dimgray;
}
.navbar {
    background:#ccc;
    overflow: hidden;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%; 
  }
  
  .logo{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  } 
  
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer; 
    font-size:x-large;
  }
  
   
  
  .nav-link {
    margin-right: 1em !important;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .nav-link:hover {
    color: #000;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  
  .header {
      background-image: url('yun.jpg');
      background-size:cover;
      background-position: center;
      position: relative;
  }


.about-1{
    margin:30px;
    padding-top: 100px;
}

.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}

.about-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
}

.about-item{
    margin-bottom: 150px;
    margin-top: 20px;
    background-color: white;
    padding:80px,30px;
    box-shadow: 0 0 9px rgba(0,0,0 .6);
}

.about-item i{
    font-size: 43px;
    margin: 25px;
}

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
    font-size: 15px;
}

.about-item:hover{
    background-color: #5fbff9;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}

.about-item:hover hr{
    color: #fff;
}
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}

footer{
    background: #212226;
    padding: 85px;
}
footer p{
    color:#fff;
}